.navbar {
    border-bottom: 1px solid #EBEDEF;

    > div {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
        }
    }
}

.nav-link {
    a {
        color: $black;
        @include ease-transition(color);

        &:hover, &:focus {
            color: $mid-grey;
        }
    }

    &.nav-link-pink-red a {
        color: $pink-red;
        @include ease-transition(color);

        &:hover, &:focus {
            color: $light-red;
        }
    }

	&:not(:last-child) {
	    margin-right: 20px;
	}
}

.nav-tagline-mobile {
    margin-top: 10px;
}

.nav-tagline-desktop {
    display: none;
}

@include media-breakpoint-up(lg) {
    .navbar {
        margin-top: 50px;
        margin-bottom: -10px;
    }

    .navbar-with-tagline {
        border-bottom: none;
    }

    .nav-tagline-mobile {
        display: none;
    }

    .nav-tagline-desktop {
        display: block;
    }
}