{% csrf_token %}
{% if form.non_field_errors %}
	<div class="form-error">
		{% for error in form.non_field_errors %}
			<p>
				<small>{{error}}</small>
			</p>
		{% endfor %}
	</div>
{% endif %}
{% for field in form.visible_fields %}
	<div class="field {% if field.field.required %}required{% endif %} {% if field.errors %}error{% endif %}">
		{{ field.label_tag }}
		{% if field.help_text %}
			<p>
				<small class="form-help">{{ field.help_text }}</small>
			</p>
		{% endif %}
		{{ field }}
		{% if field.errors %}
			<div class="form-error">
				{% for error in field.errors %}
					<p>
						<small>{{error}}</small>
					</p>
				{% endfor %}
			</div>
		{% endif %}
		<div class="ui hidden divider"></div>
	</div>
{% endfor %}
