.btn {
	display: inline-block;
	background-color: $pink-red;
	padding: 8px 30px;
	border-radius: 10px;
	color: $white;
	font-weight: $bold-weight;
	@include ease-transition(background-color);

	&:hover, &:focus {
		background-color: $light-red;
	}

	&.btn-darker-grey {
	    background-color: $darker-grey;

	    &:hover, &:focus {
            background-color: $mid-grey;
        }
	}

	&.btn-white-outline {
	    background-color: $white;
	    color: $black;
	    border: 1px solid $black;
	    @include ease-transition(all);

	    &:hover, &:focus {
            color: $mid-grey;
	        border: 1px solid $mid-grey;
        }
	}

	&.btn-blue {
	    background-color: $blue;

	    &:hover, &:focus {
            background-color: $mid-grey;
        }
	}

	&.btn-blue-outline {
	    background-color: $white;
	    color: $blue;
	    border: 1px solid $blue;
	    @include ease-transition(all);

	    &:hover, &:focus {
            color: $mid-grey;
	        border: 1px solid $mid-grey;
        }
	}
}
