.btn {
	display: inline-block;
	background-color: $pink-red;
	padding: 10px 40px;
	border-radius: 10px;
	color: $white;
	font-weight: $bold-weight;
	@include ease-transition(background-color);

	&:hover, &:focus {
		background-color: $light-red;
	}

	&.btn-sm {
		padding: 7px 25px;
		font-size: $small-font-size;
	}
}
