.form-group {
    label {
        display: block;
        margin-bottom: 5px;
    }

	input, textarea, select  {
		outline: none;
		display: block;
		width: 100%;
		border: 1px solid $dark-grey;
		border-radius: 10px;
		box-sizing: border-box;
		margin-bottom: 10px;
		padding: 10px;
		font: $p-font;
		@include ease-transition(border-color);

		&:focus {
			border-color: $pink-red;
		}

		@include placeholder {
			color: $mid-grey;
			font-weight: normal;
		}
	}

	textarea {
		resize: vertical;
		min-height: 80px;
		height: 120px;
	}

	.form-help {
	    color: $mid-grey;
	}

	.form-error {
	    color: $pink-red;
	}
}