.workshop-card-link {
    display: block;
    color: unset;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: $drop-shadow;
    grid-column: span 12;
    margin-bottom: 10px;
    @include ease-transition(box-shadow);

    &:hover, &:focus {
        box-shadow: $hover-shadow;
    }

    @include media-breakpoint-up(md) {
        grid-column: span 6;
    }

    @include media-breakpoint-up(xl) {
        grid-column: span 4;
    }
}

.workshop-card {
    display: flex;
    height: 100%;

    p {
        margin: 0;
        font-size: $small-font-size;
    }
}

.workshop-card-img {
    width: 120px;
    min-height: 100%;
    height: 120px;
    object-fit: cover;
}

.workshop-card-content {
    padding: 16px 14px;
    flex-grow: 1;
}

.workshop-card-tags {
    color: $mid-grey;
}

.workshop-card-country {
    color: $dark-grey;
}

.workshop-card-attendees {
    text-align: right;
    color: $pink-red;
}