{% extends "base.html" %}

{% load static %}

{% block title %}eatsgood{% endblock %}

{% block header %}{% include 'header-tagline.html' %}{% endblock %}

{% block content %}

<section>
	<div class="img-bg-wrapper jumbotron-img-bg">
		<img class="img-bg img-bg-mobile" src="{% static 'imgs/mobile-jumbotron.png' %}" />
		<img class="img-bg img-bg-desktop" src="{% static 'imgs/desktop-jumbotron.png' %}" />
		<form method="GET" class="jumbotron-content container">
			<div class="jumbotron-location">
				<label for="location">Location</label>
				<select id="location" name="location">
					<option value="" selected disabled>Select a country</option>
					{% for country in countries %}
						<option value="{{country.0}}">{{country.1}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="jumbotron-search">
				<img src="{% static 'imgs/search.svg' %}" alt="search-icon" />
				<input name="search-value" placeholder="Search for food you want to make">
			</div>
		</form>
	</div>
</section>
<section>
	<div class="container">
		<div class="workshop-list-header">
			<h2>Join Upcoming Cookouts</h2>
			<a href="">View All</a>
		</div>
		{% if workshops|length > 0 %}
			<div class="grid">
				{% for workshop in workshops %}
					{% include 'workshops/workshop_card.html' %}
				{% endfor %}
			</div>
		{% else %}
			<p class="mid-grey-text">Sorry, there's no upcoming cookouts right now</p>
		{% endif %}
	</div>
</section>
<section>
	<div class="container">
		<h2>Cooked by fellow Singaporeans</h2>
		{% if workshop_photos|length > 0 %}
			<div class="grid gallery-photos">
				{% for workshop_photo in workshop_photos %}
					{% include 'workshops/gallery_photo.html' %}
				{% endfor %}
			</div>
		{% else %}
			<p class="mid-grey-text">Sorry, there's no workshop photos available yet</p>
		{% endif %}
	</div>
</section>
<footer>
	<div class="img-bg-wrapper footer-img-bg">
		<img class="img-bg img-bg-mobile" src="{% static 'imgs/mobile-footer.png' %}" />
		<img class="img-bg img-bg-desktop" src="{% static 'imgs/desktop-footer.png' %}" />
		<div class="container">
			<p class="center footer-text">
				Nothing brings people together<br>
				like good food
			</p>
		</div>
	</div>
</footer>

{% endblock %}